<!DOCTYPE html>
<html lang="es-pe">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="content-language" content="es-pe">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description"
    content="Mi Lote es una aplicación web que permite obtener los datos urbanísticos de cada lote en la ciudad de Arequipa de manera fácil y rápida.">
  
  <title>Mi Lote - Descubre tu lote</title>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/neo.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <header>
    <a class="logo" href="/">
      <img src="https://cdn.glitch.global/e2546e49-e7f7-451d-a483-b52dadb42ca0/logo_temporal.png?v=1674252546218"
           alt="logo" width="150px">
    </a>
    <div class="burger-btn" onclick="burgerBtn(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <nav>
      <ul class="nav" data-visible="false">
        <li><a href="/mapa">Mapa</a></li>
        <li><a href="/calculadora">Calculadora</a></li>
        <li><a href="#">Documentación</a></li>
        <li><a href="#">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <article class="hidden">
      <h1>Descubre todo sobre tu lote</h1>
      <p>¿Cuántos pisos puedo construir? ¿Cuánta área libre debo dejar? Averigua todo esto y demás con nuestro mapa interactivo.</p>
      <a class="button" href="/mapa">Ir al mapa</a>
    </article>
    <article class="hidden">
      <h1>Calcula el precio de la casa de tus sueños</h1>
      <p>Utiliza nuestra calculadora de viviendas para obtener un precio preciso dependiendo de tus gustos.</p>
      <a class="button" href="#">Ir a la calculadora</a>
    </article>
    <article class="hidden">
      <h1>Información al día y confiable</h1>
      <p>Los datos que usamos para ayudarte en la construcción de tu lote provienen de fuentes seguras y confiable.</p>
      <a href="/doc">Averigua más aquí ></a>
    </article>
  </main>
  <footer>
    © 2022 Mi lote - Glitch version
  </footer>
</body>
</html>
<!-- CSS Scripts -->
<script defer>
  // Navbar burger button toggle on mobile 
  function burgerBtn(btn) {
    btn.classList.toggle("change");

    const primaryNav = document.querySelector(".nav");
    const visibility = primaryNav.getAttribute("data-visible");
    if (visibility === "false") {
      primaryNav.setAttribute("data-visible", "true")
    } else {
      primaryNav.setAttribute("data-visible", "false")
    }
  }

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const hiddenElements = document.querySelectorAll(".hidden");
  hiddenElements.forEach((e) => observer.observe(e));
</script>