body {
  /* background-color: #141416; */
  background-color: white;
}

article {
  margin-block-end: 3em;
}

/* ========================================================== */

article#inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  height: 85dvh;
  justify-content: center;
}

.titulo {
  font-size: 100px;
  max-width: 1030px;
}

.titulo>b {color: var(--enfasis);}

.button {
  text-decoration: none;
  color: silver;
  font-size: 21px;
  padding-top: 20px;
}

.button:hover {
  text-decoration: underline;
}

/* ========================================================== */

#como-funciona {
  width: max(70%, 50ch);
  margin: 10em auto;
}

#como-funciona>p {
  margin-top: 1em;
  font-size: 14pt;
}

p>a {
  color: var(--enfasis)
}

/* ========================================================== */

#calculadora {
  display: flex;
  justify-content: flex-start;
  width: max(70%, 50ch);
  margin: 10em auto;
  flex-direction: column;
}

.type-writer {
  font-size: 75pt;
}