article {
  width: 880px;
  margin: auto;
}

#calculadora {
  justify-content: normal;
  align-items: flex-start;
  height: auto;
  padding-bottom: 2em;
}

#calculadora>h1 {
  color: var(--enfasis);
  font-size: 22px;
  margin-bottom: 1em;
}

/* GRID ============================================= */
#grid {
  display: grid;
  justify-items: start;
  width: 100%;
  grid-template-columns: 1fr 1.25fr;
  gap: 20px;
}
/* ============================================= detalles */
#detalles {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#detalles {
  grid-column-start: 2;
  grid-row-start: 1;
  align-items: center;
}

#totales {
  display: flex;
  align-items: baseline;
  gap: 25px;
}
/* ============================================= area */
input#m2 {
  border: none;
  border-bottom: 1px solid white;
  background: none;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 0 5px;
}

input#m2:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  border-color: var(--enfasis);
  color: var(--enfasis);
}
/* ============================================= opciones */
#opciones {
  width: 100%;
}
.opcion {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  align-items: start;
  column-gap: 1rem;
  margin-block-end: 5px;
}

.opcion>img {
  width: 89px;
  height: 59px;
  border-radius: 5px;
  grid-row-start: 1;
  grid-row-end: last-line;
  align-self: center;
}

.nombre {
  color: var(--enfasis);
  font-size: 16px;
  line-height: 18px;
}

.descripcion, .precio {
  font-size: 13px;
}

.precio {
  color: silver;
  font-style: italic;
  grid-column-start: 2;
}
/* ============================================= subopciones */
.subopciones {
  padding: 1em;
  max-height: 500px;
  height: auto;
  transition: all 1s ease;
}

.opcion.oculta+.subopciones {
  height: 0;
  max-height: 0;
  opacity: 0;
  padding: 0;
}

.opcion.oculta+.subopciones>.sub-opcion {
  height: 0;
  max-height: 0;
  opacity: 0;
  padding: 0;
}

.sub-opcion {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 5px;
}

.sub-opcion:not(:last-child) {
  border-bottom: 1px solid #5B5B5B;
}

@media (max-width: 880px) {
  article {
    width: auto;
  }
  #calculadora>h1 {
    margin-bottom: 5px;
  }
  .opcion>img {
    width: 89px;
    height: 59px;
  }
  .nombre {
    font-size: 14px;
    line-height: 18px;
  }
  .descripcion, .precio {
    font-size: 10px;
  }
  #grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }
  #totales {
    flex-direction: column;
    gap: 0;
  }
  .subopciones {
    width: 100%;
    padding: 0;
  }
}