@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --green: #35D6B5;
    --dark: #394754;
    --gray: #D9DBDB;
    box-sizing: content-box;
    font: 11pt 'Inter';
}

body {
    margin: 0;
}

main {
    padding: 24px;
}

header, footer {
    background-color: var(--green);
    color: var(--dark);
}

header {height: 87px;}
footer {
    height: 47px;
    text-align: center;
    line-height: 47px;
    font-weight: 400;
    margin-top: 161px;
}

#logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 19px;
}

#titulo {
    display: flex;
    justify-content: space-between;
}

#spans {display: flex;margin-bottom: 1rem;}
#spans>div{flex-basis: 50%;}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
table tr{background-color: #F0F0F0;}
table tr:nth-child(4n){background-color: var(--gray);}
table tr:nth-child(4n-1){background-color: var(--gray);}

table td{
    padding-block-start: 0.67em;
    padding-block-end: 0.67em;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

#total {
    font-size: 18pt;
    padding: 1em;
    text-align: right;
}

.deco {
    background-color: var(--dark);
    position: absolute;
}

.deco.big {
    width:  25px;
    height: 25px;
    border-radius: 7px;
    margin: 0;
    right: 10px;
    top: 10px;
}
.deco.med {
    width:  20px;
    height: 20px;
    border-radius: 5px;
    right: 50px;
    top: 35px;
    background-color: var(--gray);
}
.deco.small {
    width:  15px;
    height: 15px;
    border-radius: 4px;
    right: 30px;
    top: 55px;
}